
.sec1 .admin_title {
    color: white;
    font-size: 30px;
    /*border: solid 1px white ;*/
    width: 100%; height: 60px;
}
.sec1 .admin_title .title1 {
    display: inline-block;
}
.sec1 .admin_title div button{
    float: right;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #4c4c4c;
    height: 30px;
    background: none;
    color: #ffffff;
}

.sec1 .admin_title div button:hover {
    background: #04E632;
    color: #ffffff;
    cursor: pointer;

}

.second_title {
    /*border: 1px solid red;*/
    height: 60px;
    margin-top: 10px;
}
.second_title div {
    margin-top: 10px;
    display: inline-flex;
}
.second_title button {
    margin: 10px;
    border-radius: 5px;
    background: none;
    color: #ffffff;
    width: 80px;
    height: 30px;
    border: 1px solid #4c4c4c;
}
.second_title button:hover {
    background: #04E632;
    cursor: pointer;

}
.second_title form {
    margin: auto;
    margin-left: 200px;
    display: inherit;
}
.second_title form input {
    color: #ffffff;
}
.second_title .right_button {
    margin: auto;
    /*border: 1px solid green;*/
    margin-left: 270px;
}
.second_title input{
    width: 200px;
    height: 30px;
    border: 1px solid #4c4c4c;
    background: none;
}
.asd{
    margin: 0 !important;
}
.second_section {
    color: white;
    /*border: 1px solid blue;*/
    margin-top: 10px;
}
.second_section table {
    border-top: 1px solid #dfdcdc;
    width: 100%;
}
.second_section .first_tr{
    height: 50px;
    font-size: 18px;
    text-align: left;
    line-height: 3;
}
.second_section .first_tr th {
    margin-top: 20px;
    /*border: 1px solid green;*/
    text-align: center;
}

.second_section table .second_tr {
    border-top: 1px solid #ffffff;
    line-height: 50px;
}
.second_section table .second_tr td {
    vertical-align: middle;
    text-align: center;
}

.second_section table .second_tr td:nth-child(1) {
    width: 50px;
}

.second_section table .second_tr td:nth-child(3) {

}




