.container {
    border: 0px solid white; height: 1100px;
}
a {
    text-decoration: none; color: inherit; /* 기본 텍스트 색상 상속 */
}
.active {
    color: #04E632;
}
.sort {
    color: #04E632; text-decoration: underline;
}
/*앨범사진과 앨범정보들이 보이는 상단*/
.artist_top {
    border: 0px solid white; width: 1393px; height: 250px; display: flex;
    position: relative; margin-left: auto; margin-right: auto;
}
/*앨범 사진 부분*/
.artist_top_img {
    border: 0px solid white; width: 250px; display: flex; align-items: center;
}
.artist_img {
    border: 0px solid red; width: 200px; height: 190px; border-radius: 10px;
}
.artist_img img {
    width: 200px; border-radius: 100px;
}

/*앨범 정보 부분*/
.artist_top_text {
    border: 0px solid white; width: 1193px; height: 250px; color: #999999;
    position: relative;
}
.artist_top_text > .artist_top_text_box {
    border: 0px solid white; width: 600px; height: 250px; line-height: 60px;
}
.artist_top_text > .artist_top_text_box > .artist_top_name {
    border: 0px solid white; font-size: 1.5rem; height: 80px; line-height: 120px;
    color: white; font-weight: 10; width: 100px;
}
.artist_top_text > .artist_top_text_box > .artist_top_hart_play {
    border: 0px solid white; height: 40px; line-height: 40px; display: inline-block;
}
.artist_top_text > .artist_top_text_box > .artist_top_hart_play > .hart{
    display: inline-block;
}
.artist_top_text > .artist_top_text_box > .artist_top_hart_play > .hart strong:hover{
    color: #04E632; transition: 0.2s all; cursor: pointer;
}
.artist_top_text > .artist_top_text_box > .artist_top_hart_play > .hart_count{
    display: inline-block; font-size: 1.0rem;
}
.artist_top_text > .artist_top_text_box > .artist_top_hart_play > .play_btn{
    display: inline-block; margin-left: 40px;
}
.artist_top_text > .artist_top_text_box > .artist_top_hart_play > .play_btn i:hover{
    color: #04E632; transition: 0.2s all; cursor: pointer;
}
.artist_top_text > .artist_top_text_box > .artist_top_hart_play > .rep_song{
    display: inline-block; margin-left: 10px;
}
.artist_top_text > .artist_top_text_box > .artist_top_agency {
    border: 0px solid white; height: 40px; line-height: 40px;
}
.artist_top_text > .artist_top_text_box > .artist_top_agency > .agency{
    display: inline-block; border: 0px solid white;
}
.artist_top_text > .artist_top_text_box > .artist_top_agency > .agency_name{
    display: inline-block; margin-left: 27px;
}

/*메뉴들이 있는 부분*/
.artist_menu {
    border: 0px solid white; width: 1393px; height: 70px; display: flex; justify-content: space-between;
    border-bottom: 1px solid #999999; margin-left: auto; margin-right: auto;
}
/*수록곡, 앨범상세, 댓글 메뉴버튼 ajax로 구현하기*/
.artist_menu_left {
    border: 0px solid red; width: 300px; height: 70px; display: flex; justify-content: space-around; text-align: center;
    color: white; line-height: 70px; font-size: 1.2rem;
}
.artist_menu_left > .artist_left_song {
    display: flex; justify-content: center; align-items: center;
    border: 0px solid white; width: 50px; height: 70px; line-height: 70px;
}
.artist_menu_left > .artist_left_song > .artist_left_song_text{
    border: 0px solid white; width: 25px; height: 25px; align-items: center;
    cursor: pointer;
}
.artist_menu_left > .artist_left_song > .artist_left_song_text p{
    border: 0px solid white; width: 25px; height: 25px;
    display: flex; justify-content: center; align-items: center;
}
.artist_menu_left > .artist_left_detail {
    border: 0px solid white; width: 100px; height: 70px; display: flex;
    justify-content: center; align-items: center;
}
.artist_menu_left > .artist_left_detail > .artist_left_detail_text{
    border: 0px solid white; width: 35px; height: 35px; align-items: center;
    cursor: pointer;
}
.artist_menu_left > .artist_left_detail > .artist_left_detail_text p{
    border: 0px solid white; width: 35px; height: 35px;
    display: flex; justify-content: center; align-items: center;
}
.artist_menu_left > .artist_left_detail > .artist_left_detail_text p:hover{
    color: #04E632; transition: 0.2s all;
}
.artist_menu_left > .artist_left_comment {
    border: 0px solid white; width: 100px; height: 70px; display: flex;
    justify-content: center; align-items: center;
}
.artist_menu_left > .artist_left_comment > .artist_left_comment_text{
    border: 0px solid white; width: 70px; height: 35px; align-items: center;
    cursor: pointer;
}
.artist_menu_left > .artist_left_comment > .artist_left_comment_text p{
    border: 0px solid white; width: 70px; height: 35px;
    display: flex; justify-content: center; align-items: center;
}
.artist_menu_left > .artist_left_comment > .artist_left_comment_text p:hover{
    color: #04E632; transition: 0.2s all;
}

/*가수 곡 정렬*/
.artist_sort_and_play {
    border: 0px solid white; width: 100%; max-width: 1393px; height: 70px; color: white;
    display: flex; justify-content: space-between; border-bottom: 1px solid #999999;
    margin-left: auto; margin-right: auto;
}
.artist_sort_and_play > .artist_song_sort_box {
    border: 0px solid white; width: 500px; height: 70px; display: flex;
    justify-content: flex-start;
}
.artist_sort_and_play > .artist_song_sort_box > .artist_song_latest_box {
    border: 0px solid white; width: 80px; height: 70px;
    display: flex; justify-content: center; align-items: center;
}
.artist_song_latest_box > .artist_song_latest_text {
    cursor: pointer;
}
.artist_song_popularity_box > .artist_song_popularity_text {
    cursor: pointer;
}
.artist_song_alphabetically_box > .artist_song_alphabetically_text {
    cursor: pointer;
}
.artist_sort_and_play > .artist_song_sort_box > .artist_song_popularity_box {
    border: 0px solid white; width: 80px; height: 70px;
    display: flex; justify-content: center; align-items: center;
}
.artist_sort_and_play > .artist_song_sort_box > .artist_song_alphabetically_box {
    border: 0px solid white; width: 80px; height: 70px;
    display: flex; justify-content: center; align-items: center;
}
.artist_sort_and_play > .artist_select_and_play {
    border: 0px solid white; width: 500px; height: 70px; display: flex;
    justify-content: flex-end;
}
/*전체선택, 전체재생부분*/
.artist_menu_right {
    border: 0px solid blue; width: 300px; height: 70px; display: flex; color: white; font-size: 0.8rem;
    justify-content: center; text-align: center; position: relative;
}
.artist_menu_right > .artist_right_select {
    border: 0px solid red; width: 90px;
}
.artist_right_select_btn, .artist_right_select_play {
    border: 1px solid #999999; position: absolute; top: 20px; width: 26%; height: 30px;
    line-height: 30px; border-radius: 70px; color: white; cursor: pointer;
}
/*전체선택 hover*/ /*전체재생 hover*/
.artist_right_select_btn:hover, .artist_right_select_play:hover {
    color:#04E632; transition: 0.2s all;
}

/*테이블 부분*/
table.song_tb {
    border: 0px solid red; width: 100%; max-width: 1393px; max-height: 616px; position: relative;
    color: white; overflow-y: auto; margin-left: auto; margin-right: auto;
}
.head_th {
    border: 0px solid white; height: 60px; line-height: 60px; text-align: center;
}
.head_th tr {
    border-bottom: 1px solid #999999; text-align: left;
}
.head_th tr th:nth-child(1) {
    text-align: center;
}
.head_th tr th:nth-child(6) {
    text-align: center;
}
.body_tb {
    border: 0px solid white; height: 70px;  text-align: center;
}
.body_tb tr {
    border: 0px solid white; border-bottom: 1px solid #999999;
}
.body_tb tr td {
    height: 60px; vertical-align: middle;
}
.body_tb .artist_song_name_box_tb {
    display: flex; justify-content: flex-start; align-items: center;
    border: 0px solid white; width: 100%; height: 60px;
}
.body_tb .artist_song_name_box_tb > .artist_album_pic {
    display: flex; justify-content: center; align-items: center;
    margin-right: 20px;
}
.body_tb .artist_song_name_box_tb > .artist_album_pic img {
    width: 50px; border-radius: 10px;
}
.body_tb td:nth-child(1){
    border: 0px solid white; width: 5%; min-width: 30px;
}
.body_tb td:nth-child(2){
    border: 0px solid white; width: 34%; min-width: 300px;
}
.body_tb td:nth-child(3){
    border: 0px solid white; width: 16%; text-align: left; min-width: 150px;
}
.body_tb td:nth-child(4){
    border: 0px solid white; width: 32%; text-align: left; min-width: 300px;
}
.body_tb td:nth-child(5){
    border: 0px solid white; width: 8%; text-align: left; min-width: 100px;
}
.body_tb td:nth-child(5) p strong:hover{
    color: #04E632; transition: 0.2s all; cursor: pointer;
}
.body_tb td:nth-child(6){
    border: 0px solid white; width: 5%; min-width: 75px;
}
.body_tb td:nth-child(6) i:hover{
    color: #04E632; transition: 0.2s all; cursor: pointer;
}
.body_tb .artist_name_tb {
    font-size: 0.9rem; height: 30px; line-height: 30px;
}


/*가수 - 앨범리스트*/
.artist_album {
    border: 0px solid white; width: 1350px; height: 800px; overflow-y: auto;
    margin-left: auto; margin-right: auto; margin-top: 30px;
}
.artist_album > .artist_album_list {
    border: 0px solid white; width: 1350px; height: 330px;
    display: flex; justify-content: space-around; color: white;
}
.artist_album > .artist_album_list > .artist_album_list_box {
    border: 0px solid white; width: 200px; height: 330px;
}
.artist_album > .artist_album_list > .artist_album_list_box > .artist_album_list_img{
    border: 0px solid white; width: 200px; height: 200px;
    border-radius: 10px;
}
.artist_album_list_img img {
    width: 200px; border-radius: 10px;
}
.artist_album > .artist_album_list > .artist_album_list_box > .artist_album_text_box{
    border: 0px solid white; width: 100px; height: 100px;
}
.artist_album_text_box p{
    border: 0px solid white; width: 100px; height: 30px; line-height: 30px;
}
.artist_album_text_box p:nth-child(1){
    font-size: 1.2rem; line-height: 40px;
}

/*가수 정보*/
.artist_info_body {
    border: 0px solid white; width: 1393px; height: 800px; margin-left: auto;
    margin-right: auto;
}
.artist_info_body > .artist_info_text_box {
    border: 0px solid white; width: 1393px; height: 230px; display: flex;
    align-items: center; margin-left: auto; margin-right: auto;
    border-bottom: 1px solid #999999;
}
.artist_info_body > .artist_info_text_box > .artist_info_text {
    border: 0px solid white; width: 400px; height: 230px; color: white;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_activity_info{
    border: 0px solid white; width: 200px; height: 50px; display: flex;
    align-items: center;
}
.artist_activity_info p {
    font-weight: bold; font-size: 1.05rem; margin-left: 20px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_debut{
    border: 0px solid white; width: 300px; height: 30px; display: flex;
    align-items: center;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_debut p:nth-child(1){
    border: 0px solid white; display: inline-block; margin-left: 20px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_debut p:nth-child(2){
    display: inline-block; margin-left: 70px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_recent_song{
    border: 0px solid white; width: 400px; height: 60px; display: flex;
    align-items: center;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_recent_song > .artist_recent_song_text{
    border: 0px solid white; width: 50px; height: 50px; display: flex;
    align-items: center; margin-left: 20px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_recent_song > .artist_recent_album{
    border: 0px solid white; width: 50px; height: 50px; display: flex;
    align-items: center; margin-left: 47px; border-radius: 10px;
    justify-content: center; position: relative; cursor: pointer;
}
.artist_recent_album p {
    font-size: 0.9rem; position: absolute; top: 18px; left: 22px;
}
.artist_recent_album:hover p{
    color: #04E632; transition: 0.2s all;
}
.artist_recent_album img {
    width: 50px; border-radius: 10px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_recent_song > .artist_song_name{
    border: 0px solid white; height: 50px; margin-left: 10px; font-size: 0.9rem;
}
.artist_song_name p:nth-child(1) {
    border: 0px solid white; font-size: 1.1rem; height: 30px; line-height: 30px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_type {
    border: 0px solid white; height: 50px; display: flex; align-items: center;
    width: 400px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_type p{
    display: inline-block;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_type p:nth-child(1){
    margin-left: 20px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_type p:nth-child(2){
    margin-left: 68px;
}

.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_group {
    border: 0px solid white; height: 30px; display: flex;align-items: center;
    width: 400px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_group p{
    display: inline-block;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_group p:nth-child(1){
    margin-left: 20px;
}
.artist_info_body > .artist_info_text_box > .artist_info_text > .artist_group p:nth-child(2){
    margin-left: 40px;
}
.artist_pro_box {
    border: 0px solid white; width: 1393px; height: 550px; margin-left: auto;
    margin-right: auto;
}
.artist_pro_box > .artist_pro_text_box {
    border: 0px solid white; width: 1393px; height: 70px; color: white;
    line-height: 70px;
    display: flex; align-items: center; border-bottom: 1px solid #999999;
}
.artist_pro_box > .artist_pro_text_box p{
    margin-left: 20px; font-weight: bold; font-size: 1.2rem;
}
.artist_pro_box > .artist_pro_content_box {
    border: 0px solid #999999; width: 1393px; height: 480px; color: white;
}
.artist_pro_box > .artist_pro_content_box > .artist_pro_content{
    border: 0px solid white; width: 1293px; height: 480px;
    overflow-y: auto;
}
.artist_pro_box > .artist_pro_content_box > .artist_pro_content p{
    margin-top: 20px; margin-left: 20px;
}
